{% extends 'base.html' %} {% block title %} Add {% endblock %} {% block content %}
<form action="{{ request.path }}" method="post">
    <h1>This is add new staff</h1>
    <div class="col-md-3">
        <label for="Name">Name</label><br>
        <input type="text" class="form-control" name="Name" placeholder="Name" /><br>

        <label for="PhoneNumber">PhoneNumber</label><br>
        <input type="text" class="form-control" name="PhoneNumber" placeholder="PhoneNumber" /><br>

        <label for="Dob">Dob</label><br>
        <input type="text" class="form-control" name="Dob" placeholder="Day of birth" /><br>

        <label for="DoJoin">DoJoin</label><br>
        <input type="text" class="form-control" name="DoJoin" placeholder="Day of join" /><br>

        <label for="Email">Email</label><br>
        <input type="text" class="form-control" name="Email" placeholder="ex:nguyenvana" /><br>

        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form> {% endblock %}